body {
    background-image: url('/img/dogs.jpg');
    background-size: 50%;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

#container1 {
    width: 60%;
    margin: auto;
    padding: 5px;
    text-align: center;
    background-color: mistyrose;
    color: black;
}

a:link {
    color: lightblue;
}

a:hover {
    color: red;
}

a:visited {
    color: violet;
}

ul {
    list-style: none;
    padding: 0;
}

#charts p {
    font-size: 10px;
    text-align: left;
    margin-left: 15%;
}

img {
    width: 70%;
    height: 20%;
}

#end ul {
    margin-left: 42%;
    margin-right: 42%;
    list-style: decimal;
}